.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 0;
}

.toolbar {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.colors {
  display: flex;
  gap: 20px;
  padding: 0px 24px;
}

.colors .color {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #239ce2;
}
.colors .active {
  border: 2px solid rgb(255, 255, 255);
}

.toolbar button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  margin-right: 24px;
}

.toolbar button svg {
  height: 20px;
  width: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100vw;
}




@media screen and (max-width: 800px) {
  .container {
    padding-left: 0;
    margin-left: 0;
    padding-top: 16px;
  }
  
  .toolbar {
    width: 40vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  
  .colors {
    display: flex;
    padding: 16px 32px 16px 26px;
  }
  
  .colors .color {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #d8e223;
    margin: 2px;
  }
  .colors .active {
    border: 2px solid rgb(255, 255, 255);
  }
  
  .toolbar button {
    padding: 6px 10px;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 0;
  }
  
  .toolbar button svg {
    height: 20px;
    width: 20px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    width: 94vw;
  }  
}
